@media screen and (min-width: 768px) and (max-width: 992px) {
  #digital {
    border: 8px solid blue;
  }
  .border-xy {
    border: 4px solid blue;
  }

  h6 {
    font-size: 18px;
  }

  .space-4 {
    padding-left: 1.5rem;
  }

  .space-3 {
    padding-left: 1.5rem;
  }
}
